# Copyright 2016 Cisco Systems, Inc.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
# http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## Use lc mvn template with custom mvn install
mvn:
  image: library/maven:3.3.9
test:
  image: library/maven:3.3.9
package:
  image: library/maven:3.3.9
publish:
  image: library/maven:3.3.9
clean:
  image: library/maven:3.3.9


mysql:
  image: mysql:5.7
  ports:
    - "3306"
  environment:
    - MYSQL_ROOT_PASSWORD=rootpw
    - MYSQL_DATABASE=noteservice
    - MYSQL_USER=mysqluser
    - MYSQL_PASSWORD=notsecurepw

db-init:
  image: java-note-service
  environment:
    - DB_HOST=mysql
  links:
    - mysql
  entrypoint: ["/opt/init.d/db-entrypoint.sh"]
  command: ["db", "migrate", "config.yml"]

prodserver:
  image: java-note-service
  environment:
    - DB_HOST=mysql
  links:
    - mysql
    - db-init
  ports:
    - "8080"

blackbox-test:
  build: blackbox-test
  volumes:
    - .:/opt/project/
  links:
    - prodserver:noteservice
    - mysql
    - db-init
  working_dir: /opt/project
  entrypoint: ["rspec", "--require", "./blackbox-test/spec_helper.rb", "--format", "documentation"]
  command: ["--pattern", "blackbox-test/**/*.feature"]
